body {
    font-family: sans-serif;
}

.container {
    max-width: 1179px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo {
    max-width: 134px;
    height: 11px;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}



select{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: transparent;
}

.hover-link-animation {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: block; 
    @media (max-width:tablet) {
        &:hover {
            transform: scale(0);
            transition: 0s transform;
        }      
    }
    &:hover {
        transform: scale(1.1);
    }
}